hatdac.com
http://www.dns-diy.net/home.aspx
Mật khẩu: had372$^%PGZ

4/12/2018 11:38:02	 Trần Thị Thanh Lê	 tranle1079@gmail.com 	906122199	"Hosting cho tên miền www.visavietnamservice.com
Control panel https://mountain.dotvndns.vn:2083 hay
https://visavietnamservice.com:2083
Username visav597
Password HqT9uD85Bpr3"	Khởi nghiệp	giao diện du lịch fruit shop 5
/*
http://sc138200.loveitop.com/
123@321
http://itop036.imgroup.com.vn/
xaydunggiahung.net
Link đăng nhập: http://125.253.125.110:2222
Username: nhaphoq
Password: Tkal265*)^LOSP
Link đăng nhập: http://125.253.125.80:2222
Username: sc135065
Password: Tkuj307*!*YBAP

nuochoabonny.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136061
Password: Tkni384!##TXYP
====

machdienxanh.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137048
Password: Tkhm738@!#QBJP

machdienxanh.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137048
Password: Tdvr755(!_SATP

tuduythongminh.com
ketoantaichinh.org
Link đăng nhập: http://125.253.125.67:2222
Username: sc7642
Password: Twjk198@$@RMEP
*/

Link đăng nhập: http://125.253.125.110:2222
Username: nhaphoq
Password: Tyxp079^^$DNUP

dacsandalat.shop
pev580)$^GBZ
http://www.dns-diy.net/home.aspx
Link đăng nhập: http://125.253.125.78:2222
Username: binh0210
Password: Tkdz484@!_HUDP
Database:	binh0210_ad 
Username:	binh0210_wb
Password:	ywaDWxToDk
$key = "33d94872d4ede2bf572019c9e6937791";
$email = 'support@imgroup.vn';
$mau = 'ITop029_ver2';	
$db_user = 'binh0210_dacs';
$db_pass = 'OMb0L2DT';
$db_name = 'binh0210_dacs';
$db_host = 'localhost';

leggingthoitrang.com
csr143_)_PTL
http://www.dns-diy.net/home.aspx
Link đăng nhập: http://125.253.125.78:2222
Username: sc136038
Password: Tdoe621@(!GLPP

$key = "0cd3263a31e92d456b55b40ae678170a";
$email = 'support@imgroup.vn';
$mau = 'ITop003_ver4';	
$db_user = 'sc136038_038';
$db_pass = 'fsDRWc9f';
$db_name = 'sc136038_038';



Database:	sc136038_wb
Host:	localhost
Username:	sc136038_ad
Password:	B0NLdcqeo

Host xuongcokhi123.com
Link đăng nhập: http://125.253.125.78:2222

Username: sc136016
Password: Tead916!@(QBGP

Link trỏ domain:
http://www.dns-diy.net/home.aspx
xuongcokhi123.com	
tjj358^#%LFH

/domains/leggingthoitrang.com/public_html/source_itop/


azcarevn.com
dongtienland.com
drinksgreen.com
dungnuskin.com
duthuyencaocap.com
facata.com
gunuchinhhang.com
hungthinhland.org.vn
leegolf.net
leerobert.net
news.marketingthoidaimoi.com
nhacongnghe.info
nubeauty.vn
nuskinlamdep.com
nuskinluxury.com
nuskinmakeup.com
nuskinvietnam.vn
ohato.com.vn
pharmanexvietnam.vn
phucbeauty.com
ruthamcau123.com
saoshop.info
taubahondam.net
toantamgroup.net
visadulichgiare.com
vnmask.com
Link đăng nhập: http://125.253.124.242:2222
Username: chilinh1
Password: Tclu934**%SILP

aongucdan.com
aotamnu.com
bradep.com
colorfulsexy.net
doboinu.net
dolotsexy.com.vn
dongudep.info
hettieuduong.net
miengdannguc.com
nhuathanhquan.com
quanlotnu.info
Link đăng nhập: http://125.253.125.113:2222
Username: quanlot
Password: Tveb574))@ZCAP
====
chieutour.com
LINK: https://125.253.125.107:2083
TK: sc10009
MK: Tkdz484@!_HUDP
====

bananthongminh.com.vn
bananthongminhgiare.com
bobanango.com
giuongngungankeo.com
goodhome.com.vn
hanghieusaigon.com
khaiphuong.com.vn
kientrucphongcach.com
phelieutrongphat.com
Link đăng nhập: http://125.253.125.119:2222
Username: sc6724
Password: Tfyg369_!*BECP
====

dambauhana.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136034
Password: Truc084(##ZXZP
====

chandrapchidung.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc134008
Password: Tlsi990_%*APSP
====

chamsocdanam.com
ngohuuhiep.com
nguyenthichauphi.com
ongbut.ligico.com
viluchem.com
yamyhouse.com
zigky.com
Link đăng nhập: http://125.253.125.112:2222
Username: chamsoc
Password: Tbnv157*^^QDDP
====

http://trento.vn/
https://trento.vn:2083
trentovn
dacsan2016

kimtuongadv.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137107
Password: Tirt202@#*POCP

dauthailan.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc132018
Password: Tlft922!))ENEP
====

haisansachphanthiet.com
muine-explorer.com
muinebeachland.com
saigonvncarrental.com
Link đăng nhập: http://125.253.125.124:2222
Username: muineexpl
Password: Thau675#(*PWLP
====

babauthang9.com
cachtridauhong.com
cachtriomnghen.com
cachtriromsay.com
daospamama.com
dksg.vn
elemis.com.vn
giatrigroup.com
langcaynamdien.com
latamnguoidaodo.com
laxong.com
mebauangi.com
romsay.com
tamconyeu.com
xonghosausinh.com
xongtamsausinh.com
Link đăng nhập: http://125.253.124.242:2222
Username: sc9903
Password: Tngf675#)*WMUP
====

raydtc.com
raytruot.vn
raytruotdtc.com
raytruotgiamchandtc.com
Link đăng nhập: http://125.253.125.110:2222
Username: raytruot
Password: Tsuo246!((PUAP

hd4k.vn
Link đăng nhập: http://125.253.125.78:2222
Username: sc136084
Password: Tqia520!_^MDBP
-===

canhosaigon.net.vn
canhostarlightquan6.com
Link đăng nhập: http://125.253.125.110:2222
Username: canhosg
Password: Tdyq805@@#WKSP

chamsocdanam.com
ngohuuhiep.com
nguyenthichauphi.com
ongbut.ligico.com
viluchem.com
yamyhouse.com
zigky.com
Link đăng nhập: http://125.253.125.112:2222
Username: chamsoc
Password: Tbnv157*^^QDDP

diemhaisan.com
gachmiennam.com
gachthaichau.com
giadatquan9.com
giagachkhongnung.com
kientruc3d.vn
kientrucnha3d.com
thietkethicongnha.net
thitruongnhadatsg.com
vlxdmiennam.net
Link đăng nhập: http://125.253.125.113:2222
Username: sc112119
Password: Tcpu827)$*JRUP

laptopgianguyen.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137049
Password: Tnvp264!(^BYYP

tongkhosisaigon.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc135029
Password: Ttlm650#)@OBMP

minhlan.net
http://103.234.36.66:2082/
Username: minhlan
Password:zNXrq8vf2u89

antuongstore.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc135065
Password: Tpnc417(^^JYFP

cameraachau.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137112
Password: Tdbq639##^IHOP
===

amthanhshop.com
thietbiloakeo.com
Link đăng nhập: http://125.253.125.80:2222
Username: cuong0208
Password: Tngz210#!(RSOP
===

minhtosky.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc135008
Password: Topd214%#!SGNP

trungthaosaha.com
http://125.253.125.80:2222
Username: sc135081
Password: Tnuw181@!!NIAP

dangdep.vn
https://cpanel02wh-han1.cloudnetvn.com:2083/
User name: cp842980
Pass: Beautiful1985tn

thuocxoaseo.com => show all home
Link đăng nhập: http://125.253.125.78:2222
Username: sc137105
Password: Tegr065_^)ZZSP

gohieuphong.vn
goodmorningvietnam.com.vn
hangduongquan.com
kathyvan.vn
myphamtuongvi.com
myphamtuongvi.net
suckhoevasacdep.com.vn
thoitrangdodo.com
tuongviacademy.vn
tuongvispa.com
tuvantrinamda.com
Link đăng nhập: http://125.253.124.249:2222
Username: sc9608
Password: Tmyb763$*(VXIP

===
canhocentapark.info
canhoquan10.info
canhotanphu.info
canhotara.org
duanmizukipark.info
orientalplaza.org
thienminhland.net
Link đăng nhập: http://125.253.124.249:2222
Username: oriental
Password: Tycx857($^ULTP

mattroixanh.net
Link đăng nhập: http://125.253.125.78:2222
Username: sc137056
Password: Tovc994**@YNDP

diaochungthinh.online
gallopfurniture.com
ghp.vn
gunuskin.com
gunuvietnam.com
hungthinhland.online
kinhnghiemtrehoa.com
kinhnghiemtritannhang.com
mayxaydungcongtrinh.com.vn
vanphongcaocap.net
Link đăng nhập: http://125.253.125.110:2222
Username: hungthinh
Password: Tpmo071)@$HAJP
or
Link đăng nhập: http://125.253.125.110:2222
Username: nhaphoq
Password: Tyxp079^^$DNUP

thangdart.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137109
Password: Tayc816%##HRPP

banhocsinhcogiasach.com
bantrangdiemgiare.com
cachchungtoyen.net
cachduongtocuon.com
cachtrihochobe.com
cachtrirandasausinh.com
collagennhatban.net
denxongtinhdaubangdien.com
giadinhdd.vn
giamvongbung.com
kemchongnangtotnhat.net
maykhuechtantinhdau.net
maytaoozone.net
ngucocloisua.com
taobiennhat.com
tinhdausa.com
tinhdauxa.com
tugiaygiare.com
tuquanaocongnghiep.com
vungden.com
Link đăng nhập: http://125.253.125.67:2222
Username: sc7811
Password: Tawt492(**FBCP

aodoitina.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138081
Password: Tgkp481!$)UNFP

chaoban.com.vn
Link đăng nhập: http://125.253.125.110:2222
Username: tri110
Password: Truf178!_@KNKP

dientudonghcm.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137132
Password: Tzse149^$@EUXP

dengotrangtri.com
LINK đăng nhập host: http://171.244.32.214:4444
User: dengotrang
Pass: gD5WNyqFtGHP

khanggiadecor.com
Link đăng nhập: http://125.253.125.99:2222
Username: sc123212
Password: Tore553*@$QBNP

bangkeolethanh.com
daythunlethanh.com
Link đăng nhập: http://125.253.124.249:2222
Username: sc8907
Password: Tser456(#%SDFP

sieuthidonoithat.com.vn
Link đăng nhập: http://125.253.125.78:2222
Username: sc137094
Password: Tljw256**$GSRP

https://dcc.godaddy.com/manage/eraenglish.com/setup
Username: bac3phi
Password: bac3phi2Lua
http://2lua.org/

thecakebox.com.vn
User name: thecakeb
PW: NqK54g6s7xHJ
https://thecakebox.com.vn:2083

daytruotpatin.com
garutxuongtuxuyen.com
giaytruotpatinhcm.com
kimkimlongphat.com
myphamdiemngoc.com
webdohieu.com
Link đăng nhập: http://125.253.125.114:2222
Username: sc115102
Password: Twqv223_*@IFSP

Phan Văn Đại
phanvandaity40@gmail.com
sieuthicaphetaynguyen.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138005
Password: Thzz414^^*CPBP

anhduongexpress.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138019
Password: Tjya032(@#VNFP

boninoxdaithanh.com.vn
bonnhuadaithanh.com
bonnuocdaison.vn
bonnuocdaithanh.vn
bonnuocdaithong.vn
bonnuocdapha.com
bonnuochwata.com
bonnuochwata.vn
bonnuocsonhasg.com
bonnuoctoanmy.net
chauruainox304.com
cuacuonkdt.com
hangxachtaynhatban.net
hitachivn.com.vn
nangluongmattroidaithanh.com
nangluongmegasun.com
ongnuocnong.vn
thucungshop.net
tiendatgroup.net
tiendatvn.com.vn
Link đăng nhập: http://125.253.125.119:2222
Username: bonnuoc
Password: Tyct198#^#UGNP

mdata.vn
Link đăng nhập: http://125.253.125.110:2222
Username: simdata
Password: Tdrv308#_@HUUP

https://112.213.89.136:2083 hay https://yogavuive.com:2083
Username  yogavuiv
Password  t5QH8J1nMxg3

lamphunudep.com
Link đăng nhập: http://125.253.125.78:2222
Tên đăng nhập: sc138082
Mật khẩu: Trkm909@@_VOKP


bietthuvensong.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137137
Password: Tfvj208)@)PYCP
or
Link đăng nhập: http://125.253.125.78:2222
Tên đăng nhập: sc137137
Mật khẩu: Tepf817^^!FMUP
or
Link đăng nhập: http://125.253.125.78:2222
Username: sc137137
Password: Tqko369$_^KWEP

thoitrangthaovuong.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138013
Password: Ttut220)%(XJGP

hình cạnh slider

dangcapdoda.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137136
Password: Tzya166^_!IXBP

dacsan82.com
khuyenmai82.com
Link đăng nhập: http://125.253.124.249:2222
Username: sc9618
Password: Trtw035**^KPMP

timnhahcm.com
Link đăng nhập: http://125.253.125.114:2222
Username: timnha
Password: Tyor731#)%QXVP
=======

ailienshop.com
Link đăng nhập: http://125.253.125.80:2222
Username: lien0609
Password: Tdvd685##*VUWP
====
thegioihuyhoang.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136100
Password: Teja562_!$TAQP
======

thoitranghuyhoang.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc133061
Password: Thvc698#^@RYYP
=====

tuixachhuyhoang.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc133044
Password: Tbzm126%)*OUQP

ruongtrongnghia.diaocgiasoc.net
====
Link đăng nhập: http://125.253.125.80:2222
Username: khai68
Password: Titg789(!_ZVHP

====
Link đăng nhập: http://125.253.125.78:2222
Username: sc136104
Password: Toym958%(^IBLP

http://binhchuachaynhanh.com/
Link đăng nhập: http://125.253.125.78:2222
Username: sc137057
Password: Tggf089@)@FZQP

tamsach.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc132001
Password: Ttzg664__^MNSP
===

gacanhdep.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc134055
Password: Tufv503(!*FJBP
===

dieukhactrangia.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138065
Password: Tcbg254%%*GGJP
===

===
Link đăng nhập: http://125.253.125.78:2222
Username: sc138062
Password: Tvko625@$@BMRP

locthiennhien.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136104
Password: Toym958%(^IBLP

datnengiaphu.net
quangminhvina.com
thanhlapcongtytrongoi.net
Link đăng nhập: http://125.253.125.80:2222
Username: khai68
Password: Tgsu685^)%LYXP

dangkythamquannhamauquan7.com
inlichban.net
inlichban.vn
inlichgo.com
https://30118.hostingviet.vn:2222/
Username: inlichbanv
Password:A3c448aed

https://hcmbanker.vn/
LINK: https://125.253.125.107:2083
TK:    sc10142
MK: Tkdz484@!_HUDP

==============
Link đăng nhập: http://125.253.125.110:2222
Tên đăng nhập: vnghia
Mật khẩu: Tvht022($*RNYP
http://tieuthuyet365.com/
motranthaoduoc.com


thicongvanphongtrongoi.com
Mật khẩu jUf89u2S3kET
http://access.pavietnam.vn
Vui lòng cấu hình tên miền trỏ các record của tên miền (www, @) đến IP:
server89151.web30s.vn
http://www.thicongvanphongtrongoi.com/admin
Username thico912
Password 9gRxmbB24J3K

http://dauduaconga.com/
Link đăng nhập: http://125.253.125.78:2222
Tên đăng nhập: sc138068
Mật khẩu: Twcb423)^!FXDP

dammesangtao.com: 
Link đăng nhập: http://125.253.125.78:2222
Username: sc138052
Password: Tdqz869#^@GVDP

diemdenthanhcong.com
duandautu.net
maybalohcm.com
sanphamtienloi.net
sanxuatkyniemchuong.com
Link đăng nhập: http://125.253.124.249:2222
Username: sc9626
Password: Tlmz219@(*ICAP

phanphoimyphamhcm.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138054
Password: Tsog625!#%PNOP

indoorhardware.com
kitchenhardware.vn
nonglamnghiep.com
phukiennganhgo.com.vn
quangtan.com
tradecoins.vn
vinabolt.com
Link đăng nhập: http://125.253.125.114:2222
Username: quangtan
Password: Tqsw029)!_WWXP

dauhuongduong.com
hoadaumiennam.com.vn
safyfruits.com
viettrungtin.com
Link đăng nhập: http://125.253.124.249:2222
Username: sc9107
Password: Tdsg310_(@YMZP

http://decalbinhduong.com/
http://125.253.125.67:2222
dunghanh
Rl7904HscQ

inbaobiyviet.com
intoroigiarehcm.com
Link đăng nhập: http://125.253.125.119:2222
Username: sc7411
Password: Ttaj996#%)ICQP

http://hoalocphat.com/
Link đăng nhập: http://125.253.125.78:2222
Username: sc136072
Password: Ttgo927%!_JYPP

/*start 02/11*/
antoanmoingay.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136103
Password: Tawy924@(!GISP

xachtaygiagoc.com
Link đăng nhập: http://125.253.125.78:2222
Tên đăng nhập: sc138067
Mật khẩu: Tedu789@!#OMRP

takahcm.com
Link đăng nhập: http://125.253.124.249:2222
Username: vatdungb
Password: Tnjn047^*%ZIJP

bdsonline.com.vn
bdstanphu.net
canhoquan7.info
canhoraemiangalaxycity.net
nhabevensong.com
resortcozygarden.com
trungtambds.vn
Link đăng nhập: http://125.253.124.249:2222
Username: sc9002
Password: Tkxx853#)%XSLP

hoagach.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc137106
Password: Thce540*%@PCNP
====

aotamnu.com
colorfulsexy.com
detox4body.com
quanlycannang.com
colorfulsexy.com
Link đăng nhập: http://125.253.125.67:2222
Username: sc8310
Password: Tiyn876*#$ILXP
====

diaochungthinh.online
gallopfurniture.com
ghp.vn
gunuskin.com
gunuvietnam.com
hungthinhland.online
kinhnghiemtrehoa.com
kinhnghiemtritannhang.com
mayxaydungcongtrinh.com.vn
vanphongcaocap.net
Link đăng nhập: http://125.253.125.110:2222
Username: hungthinh
Password: Tpmo071)@$HAJP
====

spamypham.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138042
Password: Tyzs782#!*GLQP

cungcapdenledgiatot.com => huệ
Link đăng nhập: http://125.253.125.78:2222
Username: tam2909
Password: Tngb331@)(PUPP

http://truongnam.com
Link đăng nhập: https://125.253.125.107:2083
Username: sc10219
Password: Tkdz484@!_HUDP
ITop003_ver2
/*end 02/11*/

draytekvietnam.com
hungthinhit.com
manhinhchuyendung.com
mayinchuyendung.com
maytinhdeban.xyz
suachuamaytinhmayin.com
thienminhtu.com
Link đăng nhập: http://125.253.124.242:2222
Username: hungthinh
Password: Tgdq229#$_QDSP

hoahothiky.com.vn
Link đăng nhập: http://125.253.125.80:2222
Username: sc133076
Password: Tcwf058_@!BTFP

imgroup@donghocachua.com.vn 3ZbXOAWPwC
imgroup@vanphongchothuecaocap.com Kx5odG7H
imgroup@nuochoabonny.com BI3xBpoBb
imgroup@stomafun.com 0uVaRDpZsr
imgroup@chandrapchidung.com  aWcjn3uf
imgroup@bachhoamilan.com 2Sxyp3GM
imgroup@cuahangqualuuniem.com sJ2w4oIB
imgroup@ohato.com.vn aSy59G4u6V
imgroup@muinebeachland.com K4ACANtlxm
imgroup@cachtriromsay.com LtiMDE6yfi
imgroup@nuochoabonny.com Z2LzOafp
imgroup@zigky.com ucpXVFgo
imgroup@tienganhthayphong.net rtUztX3ROt
imgroup@cungcapdenledgiatot.com 7MbjudDXZ
imgroup@raytruotgiamchandtc.com T105Gwms
imgroup@thoitranghuyhoang.com KVe9Aj7TiP
imgroup@tuixachhuyhoang.com  fo6JUK8VVW
imgroup@antuongstore.com 4TaeRmW1
imgroup@hd4k.vn GnZhlsFkh9
imgroup@giadunginox304.com vkrWLP1I1
imgroup@bietthuvensong.com tfdSOaPHk
imgroup@mdata.vn  FLN0tv1K
imgroup@duthuyencaocap.com FLlxHtnm37
imgroup@xaydunggiahung.net GwNB6AyL
imgroup@moridecor.com aeKmnnK6j1
imgroup@htspa.vn iqUiH7HRO
imgroup@hueanhcosmetics.com.vn y8x5L8U1dn
imgroup@tieuthuyet365.com WyNqAJ8CX
imgroup@maybompanasonic.net IIopMe7nZ
http://hoalocphat.com/ => chôm db
imgroup@tienghanungdung.com V9SsKkoU0F
imgroup@dailyvuontamhon.com 5u1a4DaF
/*
03/11

http://nguyenlieulammypham.com/
hatchiatrang.com
muabaohiemnhantho.net
Link đăng nhập: http://125.253.124.249:2222
Username: hatchiat
Password: Txbj280$^%XEJP

phucphucgia.com
LINK: https://125.253.125.107:2083
TK:    sc10117
MK: Tkdz484@!_HUDP

alothai.com
baogiainan.net
chothuevanphongcaocap.net
danchoiduthuyen.com
hoboidongtien.com
kiemtoanphuongdong.com
mtc-marketing.com
nhaphoquangovap.com
nuskinbeauty.net
sieuduthuyen.com
thietbihoboigiare.com
thietkebrochure.net
thietkeprofile.com.vn
thietkexaydunghoboi.com
vanphongcaocap.top
vanphongchothuecaocap.com
vanphongchothuecaocap.net
vanphongchothuecaocap.top
xaydunggiahung.net
Link đăng nhập: http://125.253.125.110:2222
Username: nhaphoq
Password: Tyxp079^^$DNUP

bdsonline.com.vn
bdstanphu.net
canhoquan7.info
canhoraemiangalaxycity.net
nhabevensong.com
resortcozygarden.com
trungtambds.vn
Link đăng nhập: http://125.253.124.249:2222
Username: sc9002
Password: Tkxx853#)%XSLP

bdsdautu.net
Link đăng nhập: http://125.253.124.249:2222
Username: trothub
Password: Tjug663#**RZDP

camlambd.com
Link đăng nhập: http://125.253.125.78:2222
Username: lan1209
Password: Tviw452%)*QUAP
chila.vn
Thông tin Hosting:
Link đăng nhập: https://125.253.125.107:2083
Tên đăng nhập: lang0310
Mật khẩu: Tkdz484@!_HUDP

inangiaretphcm.com
Control panel: http://112.213.89.23:2082 hay http://inangiaretphcm.com:2082
Username: inangiar
Password: DWNF4513akuc
Admin: @dmin
pass: 18121980

aonorthface.com
Link đăng nhập: http://125.253.125.110:2222
Username: aonorth
Password: Tfvg956#*)CBZP

amitapro.com
dailyvuontamhon.com
hoangocthien.com.vn
myphamspa.shop
Link đăng nhập: http://125.253.125.110:2222
Username: toam
Password: Tcwc496^#)PLUP
Password: Txor473*^$AHRP

huangshanie.com
Link đăng nhập: http://125.253.125.78:2222
Username: son0211
Password: Tclz592!@@MPWP

aonorthface.com
Link đăng nhập: http://125.253.125.110:2222
Username: aonorth
Password: Tfvg956#*)CBZP

banhinmachin.com
Link đăng nhập: http://125.253.125.78:2222
Tên đăng nhập: sc137123
Mật khẩu: Tmzg915%$(ALKP

/*
07/11/2017
LINK: https://125.253.125.107:2083
TK:    sc10731
MK: Tkdz484@!_HUDP

thanhbinhbentre.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc138086
Password: Tkrj874_$#BMJP
end 07/11/2017


nhatuvanmocque.com
phattriennamsaigon.com
vgrouphoptacquocte.com
LINK: https://125.253.125.107:2083
TK:     sc10844
MK: Tkdz484@!_HUDP

myphamtrangthuy.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136007
Password: Tdpa542(@#JVCP

duancity.com
Link đăng nhập: http://125.253.125.78:2222
Username: sc136098
Password: Twho108(@*TFFP

phongchayphatdat.com
Link đăng nhập: http://125.253.125.67:2222
Username: sc8621
Password: Tibl759^^(KAFP

phongchayhcm.com
Link đăng nhập: http://125.253.125.80:2222
Username: sc139023
Password: Twco317%((WTPP

ketoannoibo.vn
nguyenhoaivy.com
ogalen.com
suahatdinhduong.vn
trimunbangthaoduoc.com
triviemganb.com
Link đăng nhập: http://125.253.124.249:2222
Username: hoaivy
Password: Tepn981()^ZYWP


ctydaitamphat.com
hoadepnhat.com
kythuatnuoitom.net
oducamtaycaocap.com
phongthuyxehoi.net
thoitrangnamlp.com
tuixachhanquoc.net
Link đăng nhập: http://125.253.125.67:2222
Username: sc8714
Password: Thbz914(!(WJSP

nhatuvanmocque.com
phattriennamsaigon.com
vgrouphoptacquocte.com
LINK: https://125.253.125.107:2083
TK:     sc10844
MK: Tkdz484@!_HUDP

http://www.khachhang.imgroup.vn/admin.php


http://canhofrescathuduc.com/
http://125.253.125.80:2222/
Link đăng nhập: http://125.253.125.80:2222
Username: sc139030
Password: Tyhc535))(MIOP

vietfarmfood.com
link đăng nhập: http://125.253.125.80:2222
Username: sc133014
Password: Tcxq060__%THXP

 */
*/
/*  white-space: nowrap;*/
504 chưa log
501	chưa log









