Chào Anh!

Em là kỹ thuật bên IMGroup, em đã setup web builder xong cho Anh

Ba Website : 
	http://daotaotaekwondoonline.com/ 
	http://taekwondovietnam.vn/ 
	http://tkdvn.com/ 

Thông tin quản trị:

Link đăng nhập: 
	http://daotaotaekwondoonline.com/admin/login 
	http://taekwondovietnam.vn/admin/login 
	http://tkdvn.com/admin/login

Email đăng nhập: huytuan_vta@yahoo.com 

Mật khẩu: admin

Sau khi đăng nhập xong Anh đổi mật khẩu nhé
Nếu có vấn đề gì cần được hỗ trợ Anh vui lòng liên hệ với bộ phận Support bên IMGroup theo
mail support@imgroup.vn
