https://medium.com/@doanhtu/c%C3%A1c-l%E1%BB%87nh-command-d%C3%A0nh-cho-ng%C6%B0%E1%BB%9Di-m%E1%BB%9Bi-d%C3%B9ng-linux-acc102323bec
https://goweb.vn/kien-thuc-web-vi/thiet-ke-web/mot-so-lenh-co-ban-thuong-dung-cho-he-dieu-hanh-linux-468.html
http://eitguide.net/cac-lenh-trong-linux-file-va-directory/

