https://medium.com/@doanhtu/c%C3%A1c-l%E1%BB%87nh-command-d%C3%A0nh-cho-ng%C6%B0%E1%BB%9Di-m%E1%BB%9Bi-d%C3%B9ng-linux-acc102323bec
https://goweb.vn/kien-thuc-web-vi/thiet-ke-web/mot-so-lenh-co-ban-thuong-dung-cho-he-dieu-hanh-linux-468.html
http://eitguide.net/cac-lenh-trong-linux-file-va-directory/

http://171.244.29.125:8069/web#id=1609&view_type=form&model=helpdesk.ticket&action=352&menu_id=240

http://duidesign.vn/dui-nam/ao-dui-nam/ao-dui-nam-denim-coc-tay.html/ 
=>
http://duidesign.vn/dui-nam/ao-dui-nam/ao-dui-nam-denim-coc-tay.html

http://duidesign.vn/gioi-thieu/ 
=>
http://duidesign.vn/gioi-thieu.html

http://duidesign.vn/lien-he-dui-design/
=>
http://duidesign.vn/lien-he-dui-design.html;
    
http://duidesign.vn/cart.html 
=>
http://duidesign.vn/cart;
